.home {
  background-image:url('./background.png');
  background-position: center;
  background-size: cover;
  background-clip: border-box;
  width: 100%;
  height: 100vh;
  overflow-x: scroll;
}

img .cat1 {
  size: 100px;
  background-color: transparent;
}
