@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


/* 
///#D468B2
///#FF7125
///#08032F
///#4985F4
///#BEBEDB
*/


/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  font-size: large;
}

/* Navbar Style */
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  background-color: #FF7125;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

}

.navbar a {
  font-weight: bold;
  color: #08032F;
  margin-left: 20px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  font-weight: bold;
  background-color: #4985F4;
  color: #FF7125;
  text-decoration-color: #FF7125;
  margin-left: 20px;
  padding: 6px;
  border-radius: 10px;
}


/* Home Style */

.home {
  background-color: aqua;
}

.home a{
  background-color: brown;
}